.editar-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.input {
  width: 30rem !important;
}
