<div class="verification-container">
  <div class="verification-card">
    <div class="icon-container">
      <i class="lock-icon"></i>
    </div>

    <h1>Bienvenido</h1>
    <p class="subtitle">Ingresa tus credenciales para continuar</p>

    <div class="code-input-container">
      <form [formGroup]="form" (ngSubmit)="handleLogin()" class="pt-5">
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput type="email" formControlName="email" required>
          <mat-icon matPrefix>email</mat-icon>
          <mat-error *ngIf="form.get('email')?.hasError('required')">
            El correo es requerido
          </mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('email')">
            El correo no es válido
          </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>
            Contraseña
          </mat-label>
          <input formControlName="password" matInput [type]="showPassword ? 'text' : 'password'" />
          <mat-icon matIconPrefix svgIcon="mat:lock"></mat-icon>
          <mat-icon matIconSuffix (click)="showPassword = !showPassword ">
            {{ showPassword ? 'visibility' : 'visibility_off' }}
          </mat-icon>

          <mat-error *ngIf="form.get('password')?.hasError('required')">
            La contraseña es requerida
          </mat-error>

        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
          <mat-icon>login</mat-icon>
          {{ isLoading ? 'Verificando...' : 'Inicio de sesion' }}
        </button>
      </form>
    </div>


  </div>
</div>