<div class="verification-container">
  <div class="verification-card">
    <div class="icon-container">
      <i class="lock-icon"></i>
    </div>

    <h1>Verificacion</h1>
    <p class="subtitle">
      Ingresa el codigo que fue enviado a tu correo.</p>

    <div class="code-input-container">
      <form [formGroup]="verificationForm" (ngSubmit)="onSubmit()">
        <div class="code-group">
          <input id="digit1" type="text" formControlName="digit1" maxlength="1" (input)="onInput($event, 1)" />
          <input id="digit2" type="text" formControlName="digit2" maxlength="1" (input)="onInput($event, 2)" />
          <input id="digit3" type="text" formControlName="digit3" maxlength="1" (input)="onInput($event, 3)" />
          <input id="digit4" type="text" formControlName="digit4" maxlength="1" (input)="onInput($event, 4)" />
          <input id="digit5" type="text" formControlName="digit5" maxlength="1" (input)="onInput($event, 5)" />
          <!-- <input id="digit6" type="text" formControlName="digit6" maxlength="1" (input)="onInput($event, 6)" /> -->
        </div>
        <button mat-raised-button color="primary" type="submit" class="m-4"
          [disabled]="verificationForm.invalid || isLoading">
          <mat-icon>send</mat-icon>
          {{isLoading ? 'Verificando...' : 'Verificar'}}
        </button>
        <button mat-button color="secondary" (click)="handleResendCode()" [disabled]="resendTimer > 0">
          <mat-icon>refresh</mat-icon>
          Reenviar codigo <span>({{ resendTimer }}s)</span>
        </button>
      </form>
    </div>
    <mat-card class="example-card" *ngIf="codigo">
      <mat-card-header>
        <mat-card-subtitle>
          <div class="flex items-center mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-500 mr-2" width="24" height="24"
              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="8" x2="12" y2="12"></line>
              <line x1="12" y1="16" x2="12.01" y2="16"></line>
            </svg>
            <h3 class="text-xl font-bold text-gray-800 dark:text-white">Código de Verificación Temporal</h3>
          </div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <p>{{ codigo }}</p>
        <mat-divider></mat-divider>
        <p class="text-sm text-gray-500 dark:text-gray-400 italic text-left">
          Nota:<br> En el futuro, este código será enviado a su correo electrónico.
          Esta es una solución temporal.Con el fin de prueba.
        </p>
      </mat-card-content>

    </mat-card>


  </div>
</div>